$star-color: #ffcc00;
$black: #000;

#star-rating {
    .star {
        font-size: 2rem;
        cursor: pointer;
        line-height: 1;
        user-select: none;
        margin-right: .15rem;
        transition: transform 0.3s ease-in-out, color 0.2s;
        color: $star-color;

        &:hover {
            color: $star-color;
        }

        &.active {
            color: $star-color;
        }
    }
}

/* Anzeige der gegebenen Sterne */
.review-stars {
    font-size: 2rem;
    line-height: 1;
    color: $star-color;
    margin-bottom: .25rem;
}

.reviews-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

label.required {
    &::after {
        content: " *";
        color: $black;
    }
}
